
body{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.navbar{
    font-family: 'Monda';
    display: flex;
    justify-content: space-between;
    width: 100vw;
    background-color:#42a5f5;
}

.title{
    display: flex;
    width:fit-content;
    margin-left: 10vw;
    font-size: 50px;
    
}

#aboutMe{
    margin: 2vw;
}

#myProjects{
    margin: 2vw;
}